*{
    padding:0px;
    margin:0px;
}
body{
    background-color: #d3d3d3;
}
@media screen and (min-width:900px) { 
    #msb{
        width:900px;
        
    }  
}
@media screen and (max-width:900px) { 
    #msb{
        width:100%;
        
    }     
}
#form{
    margin: 11px;
    padding: 10px;
    background-color: #d3d3d3;
    border-radius: 10px;
}
@keyframes show{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@font-face{
    font-family: 'imgur';
      src: url(K\ Gothic.ttf);
  }
  @font-face{
    font-family: 'icofont';
      src: url(icofont.ttf);
  }
#snum{
    text-align: center;
    color:rgb(61, 61, 61)
}
h1{
    font-family: imgur;
    padding:3px;
}
#den {
    background-color: #e6e6e6;
}
#msb{
    margin:0 auto;
    background-color:#e6e6e6;
    height:100vh;
}
#console{
    text-align: center;
}
#copy{
    display:none;
    
}
#mez{
    display:block;

}
#a,#b{
    padding: 8px;
    width: 70%;
    outline: 0;
    height:20%;
    border-width: 0;
    border-radius: 5px;
}

#button{
    padding:4.7px;
}
.cbu{
    padding:10px;
    height:40px;
    width:40px;
}
.message{
    width:95%;
    margin:0 auto;
    background-color:#e6e6e6;
    border-top: 1px solid rgb(185, 185, 185);
}
.names{
    padding-top:6px;
    padding-left:8px;
    display:flex;   
}
.name{
    color:#008000;
    font-weight:bold;
    padding-left:4px;
}
.date{
    padding-left:4px;
}
.id{
    padding-left:4px;
}
.msg{
    padding:10px;
}
.msg p{
    font-size:17px;
}

.tabmenu{
    position: relative;
    transition: 0.3s;
    font-size: 0;
    }
    .tabmenu span{
    position: absolute;
    top: 30px;
    left: 0;
    display: block;
    margin: 4px 0 0;
    padding: 10px;
    width: 100%;
    height: 140px;
    border: 1px solid #0ae;
    -webkit-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
    font-size: 14px;
    transition: 0.3s;
    }
    .tabmenu input[type="radio"]{
    display: none;
    transition: 0.3s;
    }
    .tabmenu input[type="radio"] + em{
    position: relative;
    z-index: 100;
    display: inline-block;
    margin: 0 4px 0 0;
    padding: 4px 0 0;
    min-width: 80px;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
    background: #ddd;
    color: #000;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    line-height: 30px;
    cursor: pointer;
    transition: 0.3s;
    }
    .tabmenu input[type="radio"]:checked + em{
    background: #0ae;
    color: #fff;
    transition: 0.3s;
    }
    .tabmenu input[type="radio"]:checked + em::after {
    position: absolute;
    left: 50%;
    display: block;
    margin-left: -9px;
    border: 9px solid transparent;
    border-top: 9px solid #0ae;
    content: "";
    animation: show 0.3s linear 0s;
    }
    .tabmenu input[type="radio"] + em ~ span{
    display: none;
    transition: 0.3s;
    }
    .tabmenu input[type="radio"]:checked + em ~ span{
    display: block;
    transition: 0.3s;
    }
    .radio_ex input{
    display: none;
}
.radio_ex label{
    display: block;
    float: left;
    cursor: pointer;
        margin: 0;
    padding: 12px 5px;
    border-right: 1px solid #abb2b7;
    background: #efcab4;
    color: #732d10;
    font-size: 10pt;
    text-align: center;
    line-height: 1;
    transition: .2s;
}
 
.radio_ex input[type="radio"]:checked + label {
    background-color: #d8783f;
    color: #fff;
    font-weight:bold;
}