*{
    padding:0px;
    margin:0px;
}
body{
    background-color: #d3d3d3;
}
@media screen and (min-width:900px) { 
    #msb{
        width:900px;
        
    }  
}
@media screen and (max-width:900px) { 
    #msb{
        width:100%;
        
    }     
}
#form{
    margin: 11px;
    padding: 10px;
    background-color: #d3d3d3;
    border-radius: 10px;
}
@font-face{
    font-family: 'imgur';
      src: url(K\ Gothic.ttf);
  }
  @font-face{
    font-family: 'icofont';
      src: url(icofont.ttf);
  }
#snum{
    text-align: center;
    color:rgb(61, 61, 61)
}
h1{
    font-family: imgur;
    padding:3px;
}
#den {
    background-color: #e6e6e6;
}
#msb{
    margin:0 auto;
    background-color:#e6e6e6;
    height:100vh;
}
#console{
    text-align: center;
}
#copy{
    display:none;
    
}
#mez{
    display:block;

}
#a,#b{
    padding: 8px;
    width: 70%;
    height:20%;
    border-width: 0;
    border-radius: 5px;
}

#button{
    padding:1.5%;
}
.cbu{
    padding:10px;
    height:40px;
    width:40px;
}
.message{
    width:95%;
    margin:0 auto;
    background-color:#e6e6e6;
    border-top: 1px solid rgb(185, 185, 185);
}
.names{
    padding-top:6px;
    padding-left:8px;
    display:flex;   
}
.name{
    color:#008000;
    font-weight:bold;
    padding-left:4px;
}
.date{
    padding-left:4px;
}
.id{
    padding-left:4px;
}
.msg{
    padding:10px;
}
.msg p{
    font-size:17px;
}